<% provide(:title, "Users") %>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" class="bg-light-gray">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="../static/index">Alisto: UP Diliman</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%=  link_to "Home", :controller => "static", :action => "index"%>
                </li>
        <% if logged_in? %>
                    <li><%= link_to "Profile", current_user %></li>
                    <li class="divider"></li>
                    <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                    </li>
        <% else %>
          <li><%=  link_to "Signup", :controller => "users", :action => "new"%></li>
        <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<section class="bg-light-gray">
<h1>New Anon Report</h1>

<%= render 'form' %>

<%= link_to 'Back', anon_reports_path %>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Alisto 2015 | Macababayao | Vizcarra</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


