<%= form_for(@classification) do |f| %>
  <% if @classification.errors.any? %>
    <div id="error_explanation" style="width: 100%">
      <h2><%= pluralize(@classification.errors.count, "error") %> prohibited this classification from being saved:</h2>

      <ul>
      <% @classification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :crime_name %><br>
    <%= f.text_field :crime_name %>
  </div>
  <div class="field">
    <%= f.label :crime_details %><br>
    <%= f.text_area :crime_details %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
