<% provide(:title, "Crime Classifications") %>
<p id="notice"><%= notice %></p>
<section class="bg-light-gray">
<div class="row text-center">
  <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">Listing of Crime Classifications</h2>
          <h3 class="section-subheading text-muted">Here is a list of all the types of reported crimes.</h3>
      </div>
  </div>
</div>

<div class="row text-center">
  <div class="col-lg-3">
  <br>
  <br>
  <br>
  <h4 class="section-subheading text-muted" style="color: #333; text-align: center;">Note: You can click the values of classification or the values of the syndicates to learn more about them.</h4>
  </div>
  <div class="col-lg-9" style="border-left: 1px solid #555; border-width:2px; ">
  <p id="notice"><%= notice %></p>
  <!-- <h1>Anonymous Reports</h1>-->
  <table class="table table-striped" >
    <thead>
      <tr>
        <th style="text-align: center;"> Crime name</th>
        <th style="text-align: center;"> Crime details</th>
        <th style="text-align: center;"> Associated Syndicates</th>
        <th style="text-align: center;" colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @classifications.each do |classification| %>
        <tr>
          <td><%= classification.crime_name %></td>
          <td><%= classification.crime_details %></td>

            <td>
            <% if !Classification.where(:id=>classification.id).blank? %>
                <% if !Syndicate.where(:id=>classification.syndicate_id).blank? %>     
                    <%= link_to classification.syndicate.name, {:controller=>"syndicates", :action=>"show", :id => classification.syndicate_id } %>
                    <% end %>
            <% else %>
                Unassociated
            <% end %> 

            </td>
          <td><%= link_to 'Show', classification %></td>
          <td><%= link_to 'Edit', edit_classification_path(classification) %></td>
          <td><%= link_to 'Destroy', classification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Classification', new_classification_path, :class=> "btn btn-xl"   %>
  </div>
</div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Alisto 2015 | Macababayao | Vizcarra</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


