<p id="notice"><%= notice %></p>

<h1>Listing Classifications</h1>

<table>
  <thead>
    <tr>
      <th>Crime name</th>
      <th>Crime details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classifications.each do |classification| %>
      <tr>
        <td><%= classification.crime_name %></td>
        <td><%= classification.crime_details %></td>
        <td><%= link_to 'Show', classification %></td>
        <td><%= link_to 'Edit', edit_classification_path(classification) %></td>
        <td><%= link_to 'Destroy', classification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classification', new_classification_path %>
