<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="../static/index#page-top">Alisto: UP Diliman</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                <li>
                    <a class="page-scroll" href="../static/index#services">Features</a>
                </li>

                <li>
                    <a class="page-scroll" href="../static/index#ReportACrime">Report-A-Crime</a>
                </li>
                <li>
                    <a class="page-scroll" href="../static/index#CrimeMap">Crime Map</a>
                </li>

                <li>
                    <a class="page-scroll" href="../static/index#portfolio">Modi Operandi</a>
                </li>
                <li>
                    <a class="page-scroll" href="../static/index#team">Team</a>
                </li>
                <li>
                    <a class="page-scroll" href="../static/index#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<br>
<br>

<section id="contact">
  <div class="container">
	    <div class="row">
	        <div class="col-lg-12 text-center">
	            <h2 class="section-heading">Sign Up</h2>
	            <h3 class="section-subheading text-muted" style="color: white;">Give us Feedback. Your comments, response, or suggestion can help improve Alisto!</h3>
	        </div>
	    </div>
	    <div class="row">
	    	<div class="col-lg-3"></div>
	    	<div class="container-fluid col-lg-6">
			    <%= form_for(@user) do |f| %>
			      <% if @user.errors.any? %>
			        <div id="error_explanation" style="margin-left: 12.5%">
			          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
			          <ul>
			          <% @user.errors.full_messages.each do |message| %>
			            <li><%= message %></li>
			          <% end %>
			          </ul>
			        </div>
			      <% end %>
			</div>
		    <div class="col-lg-3"></div>
	    </div>
	    <div class="row">
	    	<div class="col-lg-3"></div>
	    	<div class="col-lg-6 text-center">
			      <div class="field form-group">
			        <%= f.label "First Name:", class: 'col-sm-4 control-label vertical-center', style: "color: #FEC503; font-size: 150%; text-align: right; display-table: cell; vertical-align: middle;"%>
			        <div class="col-sm-8">
				        <%= f.text_field :fname, class: 'form-control', placeholder: "Your First Name"%>
					</div>
			      </div>
			      
			      <div class="row" style="margin: 5px;"></div>
			      <div class="field form-group">
			        <%= f.label "Last Name: ", class: 'col-sm-4 control-label vertical-center', style: "color: #FEC503; font-size: 150%; text-align: right; display-table: cell; vertical-align: middle;"%>
			     	<div class="col-sm-8">
			        	<%= f.text_field :lname, class: 'form-control', placeholder: "Your Last Name" %>
			      	</div>
			      </div>

			      <div class="row" style="margin: 5px;"></div>
			      <div class="field form-group">
			        <%= f.label "Username: ", class: 'col-sm-4 control-label vertical-center', style: "color: #FEC503; font-size: 150%; text-align: right; display-table: cell; vertical-align: middle;"%>
			     	<div class="col-sm-8">
				        <%= f.text_field :username, class: 'form-control', placeholder: "Your Username" %>
			      	</div>
			      </div>
			      
			      <div class="row" style="margin: 5px;"></div>
			      <div class="field form-group">
			        <%= f.label "Email: ", class: 'col-sm-4 control-label vertical-center', style: "color: #FEC503; font-size: 150%; text-align: right; display-table: cell; vertical-align: middle;"%>
			     	<div class="col-sm-8">
				        <%= f.text_field :email, class: 'form-control', placeholder: "Your Email"%>
			      	</div>
			      </div>

			      <div class="row" style="margin: 5px;"></div>
			      <div class="field form-group">
			        <%= f.label "Password: ", class: 'col-sm-4 control-label vertical-center', style: "color: #FEC503; font-size: 150%; text-align: right; display-table: cell; vertical-align: middle;"%>
			     	<div class="col-sm-8">
				        <%= f.password_field :password, class: 'form-control', placeholder: "Enter your Password" %>
			      	</div>
			      </div>

			      <div class="row" style="margin: 5px;"></div>
			      <div class="field form-group">
			        <%= f.label "Confirmation:", class: 'col-sm-4 control-label vertical-center', style: "color: #FEC503; font-size: 150%; text-align: right; display-table: cell; vertical-align: middle;"%>
			     	<div class="col-sm-8">
				        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Enter your Password Again" %>
			      	</div>
			      </div>


			      <div class="row" style="margin: 15px;"></div>
			      <div class="actions">
			        <%= f.submit "Sign Up", :class=> "btn btn-xl" %>
			      </div>
			    <% end %>
			    <hr>
			    <%= link_to 'Already Signed-Up? Login Here.', users_path, style: "color: #FEC503" %>
			</div>
	    	<div class="col-lg-3"></div>
		</div>
	</div>
</section>

<!-- <%= link_to 'Back', users_path %> -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Alisto 2015 | Macababayao | Vizcarra</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>