<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="../static/index#page-top">Alisto: UP Diliman</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%=  link_to "Home", :controller => "static", :action => "index"%>
                </li>
				<% if logged_in? %>
                    <li><%= link_to "Profile", current_user %></li>
                    <li><%= link_to "Settings", '#' %></li>
                    <li class="divider"></li>
                    <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                    </li>
				<% else %>
					<li><%=  link_to "Signup", :controller => "users", :action => "new"%></li>
				<% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<<div class="row"></div>
<<div class="row"></div>
<<div class="row"></div>
<<div class="row"></div>
<section id="contact">
<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Login</h2>
                <h3 class="section-subheading text-muted" style="color: white;">Login using your Alisto Account!</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3"></div>
            <div class="container-fluid col-lg-6">
                <% flash.each do |message_type, message| %>
                  <div class="alert alert-<%= message_type %>"><%= message %></div>
                <% end %>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>

            <div class="col-lg-6 text-center">
                <%= form_for(:session, url: login_path) do |f| %>
                <div class="field form-group">
                    <%= f.label "Username:", class: 'col-sm-4 control-label vertical-center', style: "color: #FEC503; font-size: 150%; text-align: right; display-table: cell; vertical-align: middle;"%>
                    <div class="col-sm-8">
                        <%= f.text_field :username, class: 'form-control', placeholder: "Your First Name"%>
                    </div>
                </div>

                <div class="row" style="margin: 5px;"></div>
                <div class="field form-group">
                    <%= f.label "Password:", class: 'col-sm-4 control-label vertical-center', style: "color: #FEC503; font-size: 150%; text-align: right; display-table: cell; vertical-align: middle;"%>
                    <div class="col-sm-8">
                        <%= f.password_field :password, class: 'form-control', placeholder: "Your First Name"%>
                    </div>
                </div>
                <div class="row" style="margin: 15px;"></div>
                <div class="actions">
                    <%= f.submit "Log in", :class=> "btn btn-xl" %>
                </div>
                <% end %>
            <hr>
            <%= link_to 'New User? Sign up now!', :style => "color: #FEC503", :controller => "users", :action => "new"%>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Alisto 2015 | Macababayao | Vizcarra</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
