<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reporter_id %><br>
    <%= f.number_field :reporter_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :coordinate_x %><br>
    <%= f.text_field :coordinate_x %>
  </div>
  <div class="field">
    <%= f.label :coordinate_y %><br>
    <%= f.text_field :coordinate_y %>
  </div>
  <div class="field">
    <%= f.label :short_desc %><br>
    <%= f.text_area :short_desc %>
  </div>
  <div class="field">
    <%= f.label :classification_id %><br>
    <%= f.number_field :classification_id %>
  </div>
  <div class="field">
    <%= f.label :date_issude %><br>
    <%= f.datetime_select :date_issude %>
  </div>
  <div class="field">
    <%= f.label :full_report %><br>
    <%= f.text_area :full_report %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
