<% provide(:title, "Syndicates") %>

<p id="notice"><%= notice %></p>

<h1>Listing Syndicates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Overview</th>
      <th>Report count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @syndicates.each do |syndicate| %>
      <tr>
        <td><%= syndicate.name %></td>
        <td><%= syndicate.overview %></td>
        <td><%= syndicate.report_count %></td>
        <td><%= link_to 'Show', syndicate %></td>
        <td><%= link_to 'Edit', edit_syndicate_path(syndicate) %></td>
        <td><%= link_to 'Destroy', syndicate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Syndicate', new_syndicate_path %>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Alisto 2015 | Macababayao | Vizcarra</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
